/* Reset CSS */
@import url(reset.css);

/* ==========
Global styles
========== */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Smythe", system-ui;
}

/* ==========
Typography
========== */

.site-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.site-subtitle {
  font-size: 1.5rem;
}

.menu-item__icon {
  font-size: 4rem;
  opacity: 0.72;
}

.menu-item__name {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.menu-item__ingredients {
  color: #8b8b8b;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.menu-item__price,
.order-item__price,
.order-item__quantity,
.total-price__price {
  font-size: 1.25rem;
}

.order-summary__title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 2rem;
}

.order-item__name,
.total-price__text {
  font-size: 1.75rem;
}

/* Buttons */

.btn {
  display: inline-block;
  cursor: pointer;
}

.btn--circle {
  background: none;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  padding: 0.2em 0.5em;
  border: 1.5px #dedede solid;
  border-radius: 50%;
}

.btn--remove-item {
  background: none;
  color: #bbb;
  font-family: "Verdana", sans-serif;
  font-size: 0.75;
  border: none;
}

.btn--rounded {
  font-family: "Verdana", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 1em 1.5em;
  border: none;
  border-radius: 3px;
  width: 100%;
}

.btn--primary {
  background-color: #16db99;
  color: #fff;
}

.align-right {
  margin-left: auto;
}

/* ==========
Layout
========== */

body {
  max-width: 600px;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background-image: url("./images/hamburger-banner.png");
  color: #fff;
  background-position: center;
  background-size: cover;
  padding: 3em 0;
}

.menu {
  padding: 2.5em 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 2em 0 2.5em;
  border-bottom: 1px #d2d2d2 solid;
}

.order-summary {
  padding: 0 0 2em;
}

.order-items {
  border-bottom: 2px #393333 solid;
  margin-bottom: 1rem;
}

.order-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.order-item:last-child {
  margin-bottom: 2rem;
}

.total-price__info {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

/* Payment Modal */

.payment-modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-modal-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.payment-modal-content {
  position: relative;
  background-color: #fff;
  max-width: 525px;
  padding: 2em;
  border-radius: 4px;
}

.payment-form {
  font-family: "Verdana", sans-serif;
}

.payment-form__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.payment-form__input {
  font-size: 1.25rem;
  width: 100%;
  padding: 0.75em;
  border: 1px #757575 solid;
  border-radius: 4px;
  margin-bottom: 1.25rem;
}

.payment-form__input:last-of-type {
  margin-bottom: 3rem;
}

.hidden {
  display: none;
}

/* Thank You */

.thank-you {
  background-color: #ecfdf5;
  color: #065f46;
  text-align: center;
  padding: 2em;
  margin-bottom: 2rem;
}

.thank-you-text {
  font-size: 2rem;
}
